<h2><%= @order.order_name %>的訂單明細</h2>

<p>訂單資訊</p>
拉不斷iphone傳輸線<br>
數量<br>
土豪金: <%= @order.gold_count %> <br>
玫瑰金: <%= @order.rose_count %> <br>
時尚銀: <%= @order.silver_count %> <br>
總價: <%= @order.total %> <br>
<p>帳單及運送訊息</p>
姓名: <%= @order.order_name %> <br>
電話: <%= @order.order_phone %> <br>
地址: <%= @order.order_address %> <br>
Email: <%= @order.order_email %> <br>
