
  <div class="modal-dialog modal-sm2">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-modal" href="#" data-dismiss="modal">
          <span class="menu-icon"></span>
        </a>
        <%= image_tag("jumbotron.png",class: "img-responsive") %>
      </div>
      <div class="modal-body">
        <h3 class="text-center"><b>PaperCup - Mockup </b>($5,00)</h3>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-4">
            <div class="text-center">
              <h3>奢華金</h3>
              <h3 style="margin-top:-5px;">TWD:<%= @product.gold_price %></h3>
              <p><%= @order.gold_count %></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="text-center">
              <h3>玫瑰金</h3>
              <h3 style="margin-top:-5px;">TWD:<%= @product.rose_price %></h3>
              <p><%= @order.rose_count %></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="text-center">
              <h3>極光銀</h3>
              <h3 style="margin-top:-5px;">TWD:<%= @product.silver_price %></h3>
              <p><%= @order.silver_count %></p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="spacing"></div>
          <p class="text-center">姓名: <%= order.order_name %></p>
          <p class="text-center">手機: <%= order.order_phone %></p>
          <p class="text-center">Email: <%= order.order_email %></p>
          <p class="text-center">送貨地址: <%= order.order_address %></p>
          <p class="text-center">共 <%= order.total_amount %>元</p>
        <div class="form-group">
          <% payment_service_for  @order,
                                  @order.order_email,
                                  service: :pay2go,
                                  html: { class: "myform", :id => 'pay2go-form', :method => :post } do |service| %>
            <% service.time_stamp @order.created_at %>
            <% service.merchant_order_no @order.id %>
            <% service.amt @order.total_amount %>
            <% service.item_desc @order.product.name %>
            <% service.email @order.order_email %>
            <% service.login_type 0 %>
            <% service.encrypted_data %>

            <% service.client_back_url Settings.host+"orders/"+@order.id.to_s+"/result" %>
            <% service.notify_url Settings.pay2go_notify_url %>
            <%= submit_tag '立即付款', class: "btn btn-block", id: "checkout" %>
          <% end %>

        </div>
        <p class="text-center"><a href="" data-dismiss="modal">Cancel</a>
        </p>
      </div>
    </div>
  </div>
<%= javascript_tag do %>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1747324502164409');

   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-75062266-1', 'auto');

   $("#checkout").on('click', function(){
     ga('send', 'event', 'button', 'click', 'InitiateCheckout', <%= order.total_amount %>);
   	 fbq('track', 'InitiateCheckout');
   });
<% end %>
