<a id="menu-link" href="#" class="">
  <span class="menu-icon"></span>
</a>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="#home" class="smooth-scroll">回到首頁</a></li>
      <li><a href="#features" class="smooth-scroll">產品特色</a></li>
      <li><a href="#showcase" class="smooth-scroll">極光展現</a></li>
      <li><a href="#contact" class="smooth-scroll">聯絡我們</a></li>
    </ul>
  </nav>
</div>

<div id="wrap">
  <section id="hero" class="m-center text-center bg-shop full-height">
    <div class="center-box">
      <div class="container-fluid">
        <div class="row mobile_row">
          <div class="col-sm-12">
            <div class="hero-unit ">
              <h1 class="title"><b class="title-color demo2">極光線</b> 買一送一</h1>
              <h3 class="sec_title">前所未有的極致體驗</h3>
              <h4><b>鋁合金接點不斷裂 / 超光速傳輸速度 / 智慧型LED顯示</b></h4>
              <br>
              <a class="btn white" id="buy-now" href="#" data-toggle="modal" data-target="#product-modal"> <b>只要 499 立即擁有</b></a>
            </div>
          </div>
          <div class="col-sm-12 img-hero">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
        <a href="#features" class="hero-start-link smooth-scroll anchor-link"><i class="fa fa-angle-double-down"></i></span></a>
    </div>
  </section>

  <section id="features" class="features-1">
    <div class="container padding-top-bottom">
      <div class="row header">
        <div class="col-md-12">
          <h2>產品特色</h2>
          <p>體驗前所未有的極致質感</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in ">
            <article class="text-center">
              <%= image_tag("goods_1.png", size: "400x400", class: "zoom-img img-responsive center-block") %>
              <h3>​鋁合金接點絕不斷裂</h3>
              <p>質感與耐用兼顧的鋁合金接點</p>
              <p>高強度尼龍編織線可承受50KG拉力</p>
            </article>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
            <article class="text-center">
              <%= image_tag("goods_2.png", size: "400x400", class: "zoom-img img-responsive center-block") %>
              <h3>76根銅芯線光速傳輸</h3>
              <p>線材核心採用76根純陽極銅芯線</p>
              <p>充電電流可達2.1A遠勝其他線材</p>
            </article>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
            <article class="text-center">
              <%= image_tag("goods_3.png", size: "400x400", class: "zoom-img img-responsive center-block") %>
              <h3>LED即時掌握充電狀況</h3>
              <p>充電中顯示紅色呼吸燈</p>
              <p>充滿自動停止電流並轉為藍光恆亮</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- vertical center / slider -->
  <section id="showcase" class="">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-sm-6 slider">
          <div id="as-slider" class="owl-carousel" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="">
            <div class="item m-center slider_item1"></div>
            <div class="item m-center slider_item2"></div>
            <div class="item m-center slider_item3"></div>
            <div class="item m-center slider_item4"></div>
            <div class="item m-center slider_item5"></div>
            <div class="item m-center slider_item6"></div>
          </div>
        </div>
        <div class="col-sm-6 bg-shop" style="height:500px;">
          <div class="half-box-right">
            <div class="center-vertical">
              <div class="center-vertical-box">
                <h1><b>極光線 七大特色</b></h1>
                <ul style="padding: 20px;">
                  <li>買一送一！ 現在購買極光線，免費贈送一般傳輸線</li>
                  <li>原價650限時下殺，只要499，再享免運費！</li>
                  <li>奢華金、玫瑰金、極光銀，多種顏色選擇</li>
                  <li>鋁合金接點感受前所未有的奢華質感</li>
                  <li>高強度尼龍編織線，可承受50KG拉力</li>
                  <li>充電中顯示紅色LED呼吸燈，充滿變為藍光恆亮</li>
                  <li>內建AM智慧晶片，當電流過大自動停止保護手機</li>
                  <li>最高可達2.1A電量，充電傳輸雙效合一</li>
                </ul>
                <a href="#" id="buy-now" data-toggle="modal" data-target="#product-modal" class="btn dark"><b>只要 499 立即擁有</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end vertical center / slider -->


  <section id="facts" class="numbers-1 padding-top-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="numbers-item">
            <h2 class="counter">1367</h2>
            <h4>已銷售</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="numbers-item">
            <h2><span class="counter">99.58</span> <span>%</span></h2>
            <h4>滿意度</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="numbers-item">
            <h2><span class="counter">18</span> <span>k</span></h2>
            <h4>用戶推薦</h4>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="news" class="content-1 padding-top-bottom bg-shop">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <img class="padding-top-bottom" src=<%= image_path("jumbotron1.png") %> style="max-width:100%; height:auto;"></img>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="white-box">
            <h2><b>前所未有的極致體驗</b></h2>
            <p>一體成型的鋁合金接點，奢華但不失優雅，簡約卻不簡單，耐用度比一般傳輸線高出30倍！讓你從此不再遇到斷線之痛！</p>
            <p>智慧型LED顯示，在充電過程中顯示紅色呼吸燈，充滿變為藍光恆亮，讓你一目了然充電狀況！</p>
            <p>高強度尼龍編織線除了可以承受50KG的拉力外，更能避免纏繞與打結，讓你從此輕鬆整理！</p>
            <p>內建AM智慧晶片，不但能以2.1A電量極速充電，若發生電壓過大時會自動切斷電流
              ，避免造成讓你寶貝的手機受損！</p>
            <blockquote class="blockquote-reverse">
              <!-- <p>Jessica Red</p> -->
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta-1 bg-dark padding-top-bottom text-center white-text">
    <div class="container-fluid anima scale-in">
      <div class="row">
        <div class="col-sm-12">
          <span>​<s>原價650</s> <b class="red-font demo1">限時特價499</b> 買一送一 再享免運費！</span>
          <a class="btn" href="#" data-toggle="modal" data-target="#product-modal"><b>立即擁有</b></a>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class=" padding-top-bottom">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h2>聯絡我們</h2>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 contact-info">
          <div id="alert-contact">
            <div class="alert alert-success" role="alert"><strong>已收到您的訊息, 會盡快處理</strong></div>
          </div>
          <%= form_for @contact, :html => {id: "", class: "myform"}, :url => contacts_path do |f| %>
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <%= f.label :name, "姓名", class: "control-label" %>
                <div class="controls">
                  <%= f.text_field :name, placeholder: "您的姓名", class: "form-control input-lg requiredField", :data => {:"error-empty" => "請輸入您的姓名"} %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <%= f.label :email, "Email", class: "control-label" %>
                <div class=" controls">
                  <%= f.email_field :email, placeholder: "您的Email", class: "form-control input-lg requiredField", :data => {:"error-invalid" => "錯誤的Email格式", :"error-empty" => "請輸入您的Email"} %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="contact-message">Message</label>
            <%= f.label :content, "Content", class: "control-label" %>
            <div class="controls">
              <%= f.text_area :content, placeholder: "您要告訴我們什麼?", class: "form-control input-lg requiredField form-resize", rows: "5", :data => {:"error-empty" => "請輸入訊息"} %>
            </div>
          </div>
          <p>
            <%= f.submit "送出", class: "btn btn-store btn-block", data: {"error-message": "訊息錯誤", "sending-message": "訊息傳送中", "ok-message": "已收到您的訊息, 會盡快處理"}%>
          </p>
          <!-- <input type="hidden" name="submitted" id="submitted3" value="true"> -->
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-1 text-center">
    <div class="container-fluid">
      <a href="#home" class="back-to-top smooth-scroll"><i class="fa fa-chevron-up"></i></a>
      <ul class="social-links-2 ">
        <li><a href="https://www.facebook.com/urGiftco/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <h4>有任何問題歡迎在粉絲團私訊提問</h4>
      </ul>
    </div>
  </section>

  <div class="modal fade text-modal" id="text-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm2">
      <div class="modal-content">
        <div class="modal-header bg-shop">
          <a class="close-modal" href="#" data-dismiss="modal">
            <span class="menu-icon"></span>
          </a>
          <h2 class=""><b>購物條款</b></h2>
        </div>
        <div class="modal-body">
          <p>In order to simplify the legal terms, here are the rules of the game written in plain English, that you are obliged to follow when using the digital goods at 1E-shop.</p>
          <p>
            <br><strong>You are free to…</strong>
          </p>
          <ul>
            <li>Use the digital goods in a website for yourself or a client for personal, open-source or commercial use.</li>
            <li>Use the digital goods to create an icon for your app or button icons.</li>
            <li>Use the digital goods to create a logo or other brand material.</li>
          </ul>
          <p>
            <br><strong>You are forbidden to…</strong>
          </p>
          <ul>
            <li>Re-sell the digital goods, host the digital goods or rent the digital goods (either in existing or modiﬁed form).</li>
            <li>Include the digital goods with a website offered for sale or distributed for free.</li>
            <li>Convert the digital goods to a theme to sell or distribute for free.</li>
          </ul>
          <br>
          <p>While attribution is optional, it is always appreciated. Intellectual property rights are not transferred with the download of the icons.</p>
          <p>Should you happen to lost the purchased good, let me know the email you've used upon your purchase, and I will provide you with the new files.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm2">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close-modal" href="#" data-dismiss="modal">
            <span class="menu-icon"></span>
          </a>
          <%= image_tag("jumbotron1.png",class: "img-responsive") %>
        </div>
        <!-- <div class="modal-body">
          <h3 class="text-center"><b>PaperCup - Mockup </b>($5,00)</h3>
        </div> -->
        <div class="modal-footer">
          <%= form_for @order, :remote => true, :html => {id: "buy", class: "myform"}, :url => orders_path do |f| %>
          <div class="row">
            <div class="col-sm-4">
              <div class="text-center">
                <h3>奢華金</h3>
                <h3 style="margin-top:-5px;"><strong class="red-font"><%= @product.gold_price %>元</strong></h3>
                <% gold_qty = @product.gold_stock %>
                <%= f.select :gold_count, 0..gold_qty, {}, class: "" %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-center">
                <h3>玫瑰金</h3>
                <h3 style="margin-top:-5px;"><strong class="red-font"><%= @product.rose_price %>元</strong></h3>
                <% rose_qty = @product.rose_stock %>
                <%= f.select :rose_count, 0..rose_qty, {}, class: "" %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-center">
                <h3>極光銀</h3>
                <h3 style="margin-top:-5px;"><strong class="red-font"><%= @product.silver_price %>元</strong></h3>
                <% silver_qty = @product.silver_stock %>
                <%= f.select :silver_count, 0..silver_qty, {}, class: "" %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="spacing"></div>
          <div class="form-group">
            <%= f.label :order_name, "您的姓名" %>
            <div class="controls">
              <%= f.text_field :order_name, :placeholder => "您的姓名", :class => "form-control" %>
              <%#= f.text_field :name, placeholder: "您的姓名", class: "form-control input-lg requiredField", :data => {:"error-empty" => "請輸入您的姓名"} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :order_phone, "手機" %>
            <div class="controls">
              <%= f.text_field :order_phone, :placeholder => "您的手機(10碼)", :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :order_email,"Email"%>
            <div class="controls">
              <%= f.text_field :order_email, :placeholder => "Email", :class => "form-control" %>
              <%#= f.email_field :email, placeholder: "您的Email", class: "form-control input-lg requiredField", :data => {:"error-invalid" => "錯誤的Email格式", :"error-empty" => "請輸入您的Email"} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :order_address,"送貨地址"%>
            <div class="controls">
              <%= f.text_area :order_address, :placeholder => "送貨地址", rows: "2", :class => "form-control" %>
              <%#= f.text_area :content, placeholder: "您要告訴我們什麼?", class: "form-control input-lg requiredField form-resize", rows: "5", :data => {:"error-empty" => "請輸入訊息"} %>
            </div>
          </div>


          <div class="form-group">
            <!-- <button type="button" class="btn btn-block">PAY NOW</button> -->
            <%= f.submit "送出", class: "btn btn-block", id: "confirm" %>
            <%#= f.submit "送出Feedback", class: "btn btn-store btn-block", data: {"error-message": "訊息錯誤", "sending-message": "訊息傳送中", "ok-message": "已收到您的訊息, 會盡快處理"}%>
          </div>
          <p class="text-center"><a href="" data-dismiss="modal">Cancel</a>
          </p>
          <!-- </form> -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
     $("#buy-now").on('click', function(){
       ga('send', 'event', 'button', 'click', 'AddToCart');
       fbq('track', 'AddToCart');
     });
     $("#confirm").on('click', function(){
       ga('send', 'event', 'button', 'click', 'AddPaymentInfo');
       fbq('track', 'AddPaymentInfo');
     });
  </script>
</div>

<script>
$(document).ready(function() {


/*==============================
=            Slider            =
==============================*/

var win = $(window),
  pxContainer = $('#as-slider');
  loaderIntro = '<div class="landing"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>';

/* Initialize Intro */
function initSlider() {
  var $this = pxContainer;
  $this.after(loaderIntro);
  $this.addClass(function () {
    return $this.find('.item').length > 1 ? "loaded" : "";
  });

  $this.waitForImages({
    finished: function () {
      // sleep(3000)
      $('.landing').remove();
      if ($this.hasClass('loaded')) {
        var autoplay = $this.data('autoplay'),
          navigation = $this.data('navigation'),
          dots = $this.data('dots'),
          transition = $this.data('transition');

        $this.owlCarousel({
          items : 1,
          loop: true,
          autoplayTimeout: autoplay || false,
          dots: dots || false,
          nav: navigation || false,
          navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
            autoplay: true,
            responsive: true,
          animateOut: transition || false
        });
      }
    },
    waitForAll: true
  });

}
if (pxContainer.length) {
  initSlider();
}
});
</script>
