<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="拉不斷的Iphone充電線">
  <meta name="author" content="streamcircle.net">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'urgift.ico' %>
  <title>好康大賣場</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">

<%= yield %>

</body>
</html>
